<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</head>
<body>
    {{{body}}}
</body>

</html>