
<div class='col-md-4 col-md-offset-4 well'>
  <h1>{{users.total_rows}} Users Available</h1>
  <ul class='list-group'>
    <li class="list-group-item row">
      <span>Add a new User</span>
      <div class='pull-right'>
      <button id='newUserButton' class='pointer btn btn-mini btn-success control-button'>
        <i class='glyphicon glyphicon-plus'></i>
      </button>
      </div>
    </li>
  {{#each users.rows}}
    {{#with value}}
  	 {{> users/show}}
    {{/with}}
  {{/each}}
  </ul>
</div>

<script type='text/javascript'>  
  var user_socket = reactivity(users_passage);

  $(document).ready(function(){
    //$("body").append(returnElements(user_form_description));
  })

  $("#newUserButton").on('click', function(e){
    passageModalOpen(returnElements(users_passage));
  });

</script>