
<div class='col-md-4 col-md-offset-4 well'>
  <h1>{{users.total_rows}} Users Available</h1>
  <ul class='list-group'>
    <li class="list-group-item row">
      <span>Add a new User</span>
      <div class='pull-right'>
      <a href='#' class='pointer btn btn-mini btn-success control-button'>
        <i class='glyphicon glyphicon-plus'></i>
      </a>
      </div>
    </li>
  {{#each users.rows}}
    {{#with value}}
  	 {{> users/show}}
    {{/with}}
  {{/each}}
  </ul>
</div>

<script type='text/javascript'>  
  reactivity('users', 'users/show');
</script>