<li id="{{_rev}}" _id="{{_id}}" class="user_listing list-group-item row">
	<div class="name col-md-8"><span class="badge badge-info">{{rev}}</span> {{name}}</div>
	<div class='pull-right'>
	<a title='{{title}}' data-record="{{data._id}}" href='{{!pathFor link data}}' class='pointer btn btn-mini btn-info control-button {{css}}'>
		<i class='glyphicon glyphicon-pencil'></i>
	</a>
	<a title='{{title}}' data-record="{{data._id}}" href='{{!pathFor link data}}' class='pointer btn btn-mini btn-danger control-button {{css}}'>
		<i class='glyphicon glyphicon-remove'></i>
	</a>
</div>
</li>